/* .footer-cn a{
    color: white;
    font-size: 20px;
}
h5{
    color: white;
    font-size: 25px;
    
}
.footer-link {
    text-decoration: none;
}
.footer-fn{
    padding-right:900px
}

 footer {
    background-color: rgb(237, 175, 100);
    padding-top: 30%;
    height: 130px;
    display: flex; 
    justify-content: space-between;
    align-items: start;
} 
.ft-link {
    text-decoration: none;
    color: white;
    font-size: 30px;
} */
