html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* White background */
}

p {
    font-size: 2rem; /* Adjust as needed */
    color: black; 
    text-align: center;
    margin: 0;
}