{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=" {% static 'css/footer.css' %}">
        <title>Footer</title>
      
      </head>
   <footer>
        
    <div class="fn-im">
        <img src="{% static 'images/SNIT.jpg' %}"  width="150" height="100" />
     </div> 
        
        <div class="footer-cn">
            <h5>Contact Info</h5>
            <a href="mailto:snitsolutions2024@gmail.com?subject=Inquiry&body=Hello%20there!" class="footer-link">✉ snitsolutions2024@gmail.com</a><br>
            
        </div>
  
</footer> 
</html>