{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}"
</head>  

<body>
  

  
  <nav class="navbar">
    <ul class="navbar-links">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br><br><br>
         {% include 'websites/menubar.html' %}
        <div class="navbar-left">
            <!-- Navigation Links -->
            <li class="nav-item">
                <a href="/about/" class="nav-link">About</a>
            </li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a href="/contactus/" class="nav-link">Contact us</a>
            </li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a href="/register/" class="nav-link">Register<a>
        </li>
         <li class="login-item">
    <a href="/login/" class="login-button">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</li>

 </ul> 
 </nav>
</body>
</html>
